@import '~help-media-queries/src/helpers.scss';

.Preview-Slide {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: 90%;
  background-attachment: fixed;
  background-position: center 280px;
  will-change: left;

  @media screen and (break(medium)) {
    background-size: 860px 480px;
    background-position: center 19vw;
  }

  &.isNotActive {
    z-index: 10;
    animation-name: PreviwSlide;
    animation-duration: 800ms;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
    animation-fill-mode: forwards;
  }


  &.Default {
    background-color: #253238;
    background-image: url('#{$baseURL}themes/material-theme-default@2x.png');
  }


  &.Darker {
    background-color: #212121;
    background-image: url('#{$baseURL}themes/material-theme-darker@2x.png');
  }


  &.Palenight {
    background-color: #292C3F;
    background-image: url('#{$baseURL}themes/material-theme-palenight@2x.png');
  }


  &.Lighter {
    background-color: #3F4A4E;
    background-image: url('#{$baseURL}themes/material-theme-lighter@2x.png');
  }

}



@keyframes PreviwSlide {
  to {
    left: 100%;
  }
}
