@import '~help-media-queries/src/helpers.scss';

.PreviewSlide {
  position: absolute;
  width: 100vw;
  height: 100vh;

  @media screen and (break(medium)) {
    background-size: 860px 480px;
    background-position: center 19vw;
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
  }


  &:before {
    bottom: -117vh;
    left: 50%;
    margin-left: -150vh;
    border-radius: 50%;
    width: 300vh;
    height: 300vh;
    transform: scale(0);
    animation-name: Ink;
    backface-visibility: hidden;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.0, 0.4, 0.8, 1);
    animation-fill-mode: both;
  }


  &:after {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: 50%;
    background-attachment: fixed;
    background-position: center 280px;
  }

}

.default {
  &:before {
    background-color: #253238;
  }
  &:after {
    background-image: url('#{$baseURL}themes/material-theme-default@2x.png');
  }
}


.darker {
  &:before {
    background-color: #212121;
  }
  &:after {
    background-image: url('#{$baseURL}themes/material-theme-darker@2x.png');
  }
}


.palenight {
  &:before {
    background-color: #292C3F;
  }
  &:after {
    background-image: url('#{$baseURL}themes/material-theme-palenight@2x.png');
  }
}


.lighter {
  &:before {
    background-color: #c2d0d6;
  }
  &:after {
    background-image: url('#{$baseURL}themes/material-theme-lighter@2x.png');
  }
}



@keyframes Ink {
  to {
    transform: scale(1);
  }
}
