@import '~help-media-queries/src/helpers.scss';

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: default;
  text-align: center;
  padding: 0 10%;
}


.Header-Title {
  font-weight: 100;
  margin-bottom: 0;
  font-size: 48px;
  color: #FFF;

  @media screen and (break(medium)) {
    margin-top: 32px;
    font-size: 5vw;
  }
}


.Header-Subtitle {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 14px;
  color: rgba( #FFF, 0.5 );

  @media screen and (break(medium)) {
    font-size: 1.2vw;
  }
}


.Header-cta {
  display: inline-block;
  margin-left: 8px;
  text-decoration: none;
  color: #0BBCD6;
}
