
.Switcher {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3vh 0;
}


.Switcher-Theme {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 8px;
  box-shadow: 0 0 0 1px rgba( #FFF, 0.04);
  transition: box-shadow 300ms cubic-bezier(0.4, 0.0, 0.2, 1);

  &:hover {
    box-shadow: 0 0 0 4px rgba( #FFF, 0.04);
  }
}


.default {
  background-color: #253238;
}


.darker {
  background-color: #212121;
}


.palenight {
  background-color: #292C3F;
}


.lighter {
  background-color: #FAFAFA;
}
